# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
HF


# chk files
*.chk

#.DS_Store
.DS_Store

#.vscode
.vscode

# documentation
*.gz
*.aux
*.out
*.log
*.toc
doc/main.bbl
doc/main.blg
doc/main.fdb_latexmk
doc/main.fls
doc/main.xdv
